@charset "UTF-8";
/* CSS Document */

.products .main_block .text{
	margin: 0 0 80px 0;
}
.products .main_block .text p.logo{
	margin: -500px 0 300px 0;
}
.products .main_block .text p.logo img{
	max-height: 160px;
	margin-bottom: 0px;
}
.products .main_block .main_image{
	/*background: #f8dfaf;*/
	padding: 0 0 60px 0;
}
.products .main_block .text p.catch{
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}
.products .main_block .text p{
	color: #333;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.products .main_block .text p.logo{
	/*display: none;*/
	margin: 20px 0 10px 0;
}
.products table.list th {
    padding: 10px;
	background: #666 !important;
	border-bottom: inherit;
}
.products .accordion p.title .sub {
    background: #bf8c2b;
}
.shoplist.accordion p.title{
	background-color: inherit;
}
.shoplist.accordion p.title img{
	width: 300px;
}

@media screen and (max-width: 800px) {
.products .main_block .main_image{
	/*padding: 0 0 180px 0;*/
}
.products .main_block .text{
	margin: 0 0 0px 0;
}
.products .main_block .text p.logo{
	display: block;
	margin: 20px 0 0 0;
}
.products .main_block .text p.logo img{
	max-height: 70px;
	margin-bottom: 0px;
	height: 60px;
}
.products .main_block .text{
	top: 40%;
}
.shoplist{
	margin-top: -30px;
	clear: both;
}
.shoplist.accordion p.title {
    padding: 10px;
    font-weight: bold;
    margin: 0 0 0 0;
    background: url(../images_1/arrow_down.png) no-repeat 96% 50% inherit;
    background-size: 15px;
	letter-spacing: 0;
}
.shoplist.accordion p.title{
	background-color: inherit;
}
.shoplist.accordion p.title img{
	width: 150px;
}

.products table.data.full th{
white-space: nowrap;
}
.products table.data.full{
font-size: 12px;
}
}
